@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,300..800&display=swap");
*,
*:active,
*:any-link {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4a4a4a;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
